/*
Theme Name: field2
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.hidden{
	display:none;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


header{
	width:80%;
	margin:0px auto 3px auto;
}

footer{
	background-color: #000;
	color:#fff;
	clear:both;
	font-size: .6em;
	padding:50px 0px;
	margin:50px 0px 0px 0px;
	float:left;
	width:100%;
}

em{
	font-style: italic;
}
/*-----------------------------------*\

	Toast
	A Simple CSS Framework
	=================================

	Values you may want to change:
	- .container { max-width:; }
	- p { margin-bottom:; }
	- html { font:; }

	Remember: no framework will be as
	good as a custom built, per-
	project	one. Toast and other
	frameworks are best used for
	rapid prototyping.

\*-----------------------------------*/

/*-----------------------------------*\
	$RESET
\*-----------------------------------*/

* {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/*-----------------------------------*\
	$GRID
\*-----------------------------------*/

.container {
	/* Whatever you want. They’re your oats. */
	width:100%;
	margin: 0 auto;
	font-family: "gesta",sans-serif;


}

.grid {
	margin-left: -3%;
	max-width: 105%;
}

.unit {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	margin-right: -.25em;
	/* Clearfix */
	overflow: hidden;
	*overflow: visible;
}


.unit.demo {
		background-color: #fff8eb;
		height: 48px;
		height: 3rem;
		margin-bottom: 24px;
		margin-bottom: 1.5rem;
	}

.span-grid {
	width: 97%;
}

.one-of-two { width: 47%; }

.one-of-three { width: 30.36%; }
.two-of-three { width: 63.666666666%; }

.one-of-four { width: 22.05%; }
.portfolio .one-of-four { width: 24.05%; }
.three-of-four { width: 72%; }

.one-of-five { width: 17.07%; }
.two-of-five { width: 37%; }
.three-of-five { width: 57%; }
.four-of-five { width: 77%; }

.port_contain{
	color:#5c5c5c;
	font-weight:300;
	margin-bottom:2px;
	margin-right:-.2em;
	background-color:#000;

}

.about-span-grid{
	width:100%;
	position: relative;
	background:url(images/about_header.jpg) no-repeat center center;
	-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-bottom:40px;

}

.about-span-grid img{
	width:100%;
}

.about-text{
	position:relative;
	margin:80px 0px 0px 150px;
	color:#fff;
}
.about-text p{
	color:#fff;
	font-weight:300;
	font-size:.8em;
	line-height:1.5em;
}

.about-text h1{
	font-size:2em;
	margin-bottom: 60px;
	line-height:1.3em;
}

.about-text .two-of-five {
	float:left;
	margin-right:100px;
}

.about-content .one-of-three, .about-content .two-of-three, .about-content .one-of-three, .blog-content .one-of-three, .blog-content .two-of-three{
	float:left;
}

.about-content .one-of-three{
	margin-top:20px;
}



.about-content p{
	margin:55px 0px 0px 0px !important;
}

.about-content .one-of-three p{
	margin:0px !important;
}

.about-content em{
	font-size: .8em;
}


.contact-span-grid{
	width:100%;
	position: relative;
	background:url(images/skyline.jpg) no-repeat center center;
	-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-bottom:40px;

}

.contact .one-of-three p{
	line-height:1.8em;
	margin-left:5px !important;
}


.port_contain:hover img{
	opacity:.2;

	}

	 .port_contain:hover .port_text{
	 	display:block;
	 	color:#FFF;
	 }

.port_contain img{
	float:left;
}

.port_text{
	margin-left:10px;
	margin-top:40%;
	display:none;
}

.button, #submit{
	border:0px;
	background-color:#000;
	color:#fff;
	padding: 5px 10px;
	font-family: "gesta",sans-serif;
font-size: .8em !important;
font-weight: 300;
text-transform: uppercase;
}




.gallery{
	font-size: 0em;
}

dl.gallery-item{
	display:none;
	margin-top:0px !important;
}
dl.gallery-item:first-child{
	display:block;
}

.gallery-item{
	width:100% !important;
}

.gallery-item img{
	border:0px !important;
}
.row{
	width:80%;
	margin:0px auto;
	clear:both;
}

.flexslider{
	float:left;
	width:100%;
}

.flexslider h1{
	font-weight:300;
	font-size:2.2em;
	line-height:1.3em;
	text-transform: uppercase;
	width:35%;
	background:rgba(0,0,0,.7);
	color:#fff;
	margin-left:10%;
	padding:20px 15px;
	margin-top:-180px;
}

img{
	max-width:100%;
	height:auto;
}

.flexslider img{
	width:100%;
	height:auto;
}

.flex-control-nav li{
	width:140px;
	float:left;
	margin:5px;
}

.flex-control-nav {
	background-color:#000;
	float:left;
	width:100%;
	margin:-10px auto;
	text-align:center;


}

.about-header img{
	max-width:100%;
	height:auto;
}

.blog-content {
	font-family: "gesta",sans-serif;
font-size: .75em;
color: #5c5c5c;
}

.blog-content{
	margin-top:70px;
}
.blog-content .one-of-three{
	margin-right:50px;

}

.blog-content .two-of-three p{
	font-size:1em;
	line-height:1.5em;
}
.blog-content h2{
	margin-bottom:5px;
	width:100% !important;
}

.blog-content a{
	color:#1db9d5;
	text-decoration:none;
}

.blog-content a:hover{
	text-decoration:underline
}

.blog-nav ul li{
	margin:10px 0px !important;
	font-size:1.25em !important;
}

@media screen and (max-width: 650px) {
	.grid {
		margin-left: 0;
		max-width: none;
	}

	.unit {
		width: auto;
		margin-left: 0;
		display: block;
	}
}

/*-----------------------------------*\
	$TYPE

	Works off the assumption of a 1.5
	line height @ 20px. Again, change
	as necessary.
\*-----------------------------------*/



h1, .alpha {
	font-size: 60px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1;
}

h2, .beta {
	font-size: .9em;
	line-height: 1;
	font-family: "gesta",sans-serif;
	text-transform: uppercase;
	font-weight:600;
	margin:20px 0px 0px 0px;
}

h3, .gamma {
	font-size: .75em;
	font-weight: 400;
	margin:40px 0px 0px 0px;
	text-transform: uppercase;
}

h4{
	margin:3px 0px 15px 5px;
	font-size:.8em;

}

hr {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin-top: -1px;
}

p{
	font-family: "gesta",sans-serif;
	font-size:.75em;
	color:#5c5c5c;
	line-height:1.35em;
	margin:18px 0px;
}

h2.blue-bar{
	border-top:4px solid #1db9d5;
	padding-top:10px;
	width:52%;
}



/*-----------------------------------*\
	$MAIN
\*-----------------------------------*/

html {
	font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

header .unit{
	float:right;
}

nav a#pull{
	display:none;
}

nav ul {
	margin-top:-5px;
}

nav ul li a{
	color:#fff;
	text-decoration: none;
	background-color:#000;
	font-size: .9em;
	font-weight:300;
	padding:5px 10px;
	transition: background-color .5s ease-in-out;
   -moz-transition: background-color .5s ease-in-out;
   -webkit-transition: background-color .5s ease-in-out;
	

}

nav ul li a:hover, nav ul li.current-menu-item a{
	background-color:#1db9d5;

}


nav ul li {
	padding:5px;
	float:left;
	margin:10px 0px 0px 0px;
	font-family: "gesta",sans-serif;
	text-transform: uppercase;
	 
}

ul{
	font-size:.75em;
	color:#5c5c5c;
	line-height:1.35em;
	margin:18px 0px;
}
ul.slides{
	margin:0px;
}

.one-of-three.services{
	float:right;
}



.services ul{
	font-size:.65em;
	font-weight:600;
	margin-left:10px;
}

.services ul li{
	margin:8px 0px;
	background-image: url(images/bullet.gif);
	background-repeat: no-repeat;
	background-position: 0px 7px; 
	padding-left:20px;
}
.portfolio{
	margin-left:3%;
	
}

.portfolio h2, .about h2, .contact h2{
	margin:40px 0px 10px 0px;
	border-top: 4px solid #1db9d5;
padding:10px 0px 0px 5px;
width: 30%;
}

.border_box img{
	border:1px solid #e6e6e6;
}

@media screen and (max-width: 980px) {
	.flexslider h1 {
		font-size:1.5em;
	}

	.about-text{
		width:85%;
		margin:80px auto;
	}

	.about-text .two-of-five:last-child{
		margin-right:0px !important;
	}

	.about-text .two-of-five{
		width:40% !important;
	}

	.about-content .one-of-three{
		margin-right:15px;
	}

	.port_text{
		font-size:.8em;
	}

	h2.blue-bar {
		width:75%;
	}

	header .unit{
		float:none;
	}


	}



@media screen and (max-width: 650px) {
	html {
		font-size: 100%;
	}

		nav a#pull {
		display: block;
		width: 100%;
		position: relative;
		top:10px;
		

	}
	nav a#pull:after {
		content:"";
		background: url('images/nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 25px;

	}

	header, header .unit{
		width:100%;
		margin:0px;
	}
	nav ul li a, nav ul li{
		width:100%;
		display: block;
		font-size: 1em;
		text-align:center;
		margin:0px;
		font-weight:600;
	}

	nav ul li a{
		padding:10px;
	}

	nav ul li{
		padding:0px 0px 1px 0px;
	}

	

	.one-of-three.services{
		float:left;
		width:100%;
	}

	.services h3{
		font-size:.8em;
		margin-top:20px;
	}

	.logo{
		margin-left:10px;
	}

	.one-of-three.team:last-child{
		margin-right:0px !important;

	}

	.about-content .one-of-three, 	.about-content .two-of-three{
		float:none;
		width:100%;
	}

	p{
		font-size:.85em;
	}

		.about-text p {
		font-size:.85em;
	}

	.about-content h3{
		font-size:.85em;
		margin:40px 0px 10px 0px;
	}

		.about-content .two-of-three p{

		margin:5px 0px !important;

	}

	.one-of-three.team{
		margin-right:0px;
		width:100%;
		text-align:center;
	}
	

	.about-content p{
		margin:5px 0px;
	}

	.portfolio .one-of-four{
		width:48.5%;
		float:left;
	}

	.portfolio h2{
		width:60%;
		float:left;
	}

	.blog-content .one-of-three, .blog-content .two-of-three{
		width:100%;
	}



}

@media screen and (max-width: 360px) {

	
	.flexslider h1{
		font-size:1em;
		margin-top: -110px;
		 width: 55%;
	}
	
	

	.unit.about-span-grid, .about-text .two-of-five{
		width:100% !important;
	}

	.about-text h1 {
		margin-bottom:20px;
	}

	.about-text{
		margin:30px auto;
	}



	.portfolio h2, .about h2, .contact h2{
		width:80%;
		float:none;
		display:block;
	}

	

	.portfolio .one-of-four{
		width:97%;
	}

	

	#commentform textarea{
		width:100% !important;
	}

	

	.services ul{
		font-size:.75em;
	}









	}
